/.idea/dictionaries
/.idea/tasks.xml
/.idea/workspace.xml

/build
/dist/lib
/dist/resources
/dist/*.jar

/__artifacts_temp

/build.properties

**/.vs
/native/sdljoystick4java/build
/native/sdljoystick4java/out

*.vcxproj.user
*.vcxproj.filters
